<%= form_with(model: wallets_transfer_ratio, local: true) do |form| %>
  <% if wallets_transfer_ratio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wallets_transfer_ratio.errors.count, "error") %> prohibited this wallets_transfer_ratio from being saved:</h2>

      <ul>
      <% wallets_transfer_ratio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
