<section >
<h1>Search For Any Notification</h1>

<%= form_tag  url_for(:controller => 'notifications', :action => 'search'), :method => 'get' do %>

  <div>
      <div>
           <div>
               <div >
                 <div style="width:35%; height:180px; background:#f6f2f1; box-shadow: 0 0 8px #ccc; margin-bottom:20px;">
                   <div>
                     <div>
                     <input type="text" name="search"  placeholder="Search about something" >
                     <br><br><%= t('user ID') %> <input type="text" name="search_user"  placeholder="Search for a spacific user" >
                     <div  style="margin-top:20px;">
                         <%= t('Notification Type') %>
                        <%= select_tag :notification_type,options_for_select([['Email & Message',3],['Message',2],['Email',1]]), {:include_blank => 'select type'} %>
                      
                        <br><h4><%= t('Created at Date') %>:</h4>
                        <%= t('From') %> <%= date_field_tag :searchdatefrom %>
                        <%= t('To') %> <%= date_field_tag :searchdateto %>
                       </div>
                      <div style="margin-top:20px;">
                          <button type="submit" ><%= t('search') %> </button>
                      </div>
                     </div>
                   </div>
                 </div>
               </div>
           </div>
      </div>
  </div>
<% end %>
<br><br>

<h1>Notifications</h1>

<table>
  <thead>
    <tr>
      <th>User-ID</th>
      <th>Notification-type</th>
      <th>Title</th>
      <th>Date-Created</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.user_id %></td>
        <% if notification.notification_type == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notification.notification_type == 2 %>
        <td><%= "Message" %></td>
        <% elsif notification.notification_type == 1 %>
        <td><%= "Email" %></td>
        <% end %>
        <td><%= notification.title %></td>
        <td><%= notification.created_at %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</section>