<p id="notice"><%= notice %></p>

<h1>Cards Categories</h1>

<table>
  <thead>
    <tr>
      <th>Card value</th>
      <th>Active</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards_categories.each do |cards_category| %>
      <tr>
        <td><%= cards_category.card_value %></td>
        <% if cards_category.active == 1 %>
        <td><%= "Display" %></td>
        <% elsif cards_category.active == 0 %>
        <td><%= "Hide" %></td>
        <% end %>
        <td><%= cards_category.order %></td>
        <td><%= link_to 'Show', cards_category %></td>
        <td><%= link_to 'Edit', edit_cards_category_path(cards_category) %></td>
        <td><%= link_to 'Destroy', cards_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cards Category', new_cards_category_path %> <br><br>
<%= link_to ' Displayed Cards Category', display_cards_categories_path %>
