<%= form_with(model: notifications_setting, local: true) do |form| %>
  <% if notifications_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notifications_setting.errors.count, "error") %> prohibited this notifications_setting from being saved:</h2>

      <ul>
      <% notifications_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>
  
  <h3>تنبيهات المعاملات </h3>

  <div class="field">
  <%= "معاملات الارسال ولالاستقبال والسحب" %>
    <%= form.check_box :money_transactions_mail %>Email <%= form.check_box :money_transactions_sms %>SMS
  </div>

  <div class="field">
  <%= "المعاملات المعلقة" %>
    <%= form.check_box :pending_transactions_mail %>Email <%= form.check_box :pending_transactions_sms %>SMS
  </div>

  <div class="field">
  <%= "تحديثات المعاملات الجارية" %>
    <%= form.check_box :transactions_updates_mail %>Email <%= form.check_box :transactions_updates_sms %>SMS
  </div>
        
  <h3> تنبيهات الدعم الفنى</h3>
  <div class="field">
    <%= "تحديثات تذاكر الدعم" %>
    <%= form.check_box :help_tickets_updates_mail %>Email <%= form.check_box :help_tickets_updates_sms %>SMS
  </div>

  <div class="field">
    <%= "الردود الجديدة على تذاكر الدعم" %>
    <%= form.check_box :tickets_replies_mail %>Email <%= form.check_box :tickets_replies_sms %>SMS
  </div>

  <h3>تنبيهات حماية حسابك</h3>
  <div class="field">
    <%= "تسجيل الدخول على حسابك" %>
    <%= form.check_box :account_login_mail %>Email <%= form.check_box :account_login_sms %>SMS
  </div>

  <div class="field">
    <%= "عند تفعيل & إلغاء تفعيل اعدادات التحقق من خطوتين" %>
    <%= form.check_box :change_password_mail %>Email <%= form.check_box :change_password_sms %>SMS
  </div>

  <div class="field">
    <%= "تغيير كلمة المرور" %>
    <%= form.check_box :verifications_setting_mail %>Email <%= form.check_box :verifications_setting_sms %>SMS
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
