<p id="notice"><%= notice %></p>

<h1>Notifications Settings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Money transactions</th>
      <th>Pending transactions</th>
      <th>Transactions updates</th>
      <th>Help tickets updates</th>
      <th>Tickets replies</th>
      <th>Account login</th>
      <th>Change password</th>
      <th>Verifications setting</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications_settings.each do |notifications_setting| %>
      <tr>
        <% if notifications_setting.user_id == 0 %>
        <td><%= "Defualt" %></td>
        <% else %>
        <td><%= notifications_setting.user_id %></td>
        <% end %>
        <% if notifications_setting.money_transactions == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notifications_setting.money_transactions == 2 %>
        <td><%= "Message" %></td>
        <% elsif notifications_setting.money_transactions == 1 %>
        <td><%= "Email" %></td>
        <% elsif notifications_setting.money_transactions == 0 %>
        <td><%= "Non" %></td>
        <% end %>
        <% if notifications_setting.pending_transactions == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notifications_setting.pending_transactions == 2 %>
        <td><%= "Message" %></td>
        <% elsif notifications_setting.pending_transactions == 1 %>
        <td><%= "Email" %></td>
        <% elsif notifications_setting.pending_transactions == 0 %>
        <td><%= "Non" %></td>
        <% end %>
        <% if notifications_setting.transactions_updates == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notifications_setting.transactions_updates == 2 %>
        <td><%= "Message" %></td>
        <% elsif notifications_setting.transactions_updates == 1 %>
        <td><%= "Email" %></td>
        <% elsif notifications_setting.transactions_updates == 0 %>
        <td><%= "Non" %></td>
        <% end %>
        <% if notifications_setting.help_tickets_updates == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notifications_setting.help_tickets_updates == 2 %>
        <td><%= "Message" %></td>
        <% elsif notifications_setting.help_tickets_updates == 1 %>
        <td><%= "Email" %></td>
        <% elsif notifications_setting.help_tickets_updates == 0 %>
        <td><%= "Non" %></td>
        <% end %>
        <% if notifications_setting.tickets_replies == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notifications_setting.tickets_replies == 2 %>
        <td><%= "Message" %></td>
        <% elsif notifications_setting.tickets_replies == 1 %>
        <td><%= "Email" %></td>
        <% elsif notifications_setting.tickets_replies == 0 %>
        <td><%= "Non" %></td>
        <% end %>
        <% if notifications_setting.account_login == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notifications_setting.account_login == 2 %>
        <td><%= "Message" %></td>
        <% elsif notifications_setting.account_login == 1 %>
        <td><%= "Email" %></td>
        <% elsif notifications_setting.account_login == 0 %>
        <td><%= "Non" %></td>
        <% end %>
        <% if notifications_setting.change_password == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notifications_setting.change_password == 2 %>
        <td><%= "Message" %></td>
        <% elsif notifications_setting.change_password == 1 %>
        <td><%= "Email" %></td>
        <% elsif notifications_setting.change_password == 0 %>
        <td><%= "Non" %></td>
        <% end %>
        <% if notifications_setting.verifications_setting == 3 %>
        <td><%= "Email & Message" %></td>
        <% elsif notifications_setting.verifications_setting == 2 %>
        <td><%= "Message" %></td>
        <% elsif notifications_setting.verifications_setting == 1 %>
        <td><%= "Email" %></td>
        <% elsif notifications_setting.verifications_setting == 0 %>
        <td><%= "Non" %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_notifications_setting_path(notifications_setting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notifications Setting', new_notifications_setting_path %>
