<p id="notice"><%= notice %></p>

<h1>User Wallets</h1>

<table>
  <thead>
    <tr>
      <th>Currency</th>
      <th>Amount</th>
      <th>User ID</th>
      <th>Status</th>
      <th>Uuid</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_wallets.each do |user_wallet| %>
      <tr>
        <td><%= user_wallet.currency %></td>
        <td><%= user_wallet.amount %></td>
        <td><%= user_wallet.user_id %></td>
        <% if user_wallet.status == 0 %>
        <td><%= "Disabled" %></td>
        <% elsif user_wallet.status == 1 %>
        <td><%= "Enabled" %></td>
        <% end %>
        <td><%= user_wallet.uuid %></td>
        <% if user_wallet.status == 0 %>
        <td><a href="/wallets_status?id=<%= user_wallet.id %>" class="btn btn-primary">Push To Enable This Wallet</a></td>
        <% else %>
        <td><a href="/wallets_status?id=<%= user_wallet.id %>" class="btn btn-primary">Push To Disable This Wallet</a></td>
        <% end %>
        <td><%= link_to 'Show', user_wallet %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Wallet', new_user_wallet_path %> |
<%= link_to 'Transfer Balance Between Users', transfer_balance_path %><br><br>
<%= link_to 'SMS Code Logs', sms_logs_path %>
