<p id="notice"><%= notice %></p>

<p>
  <strong>Currency:</strong>
  <%= @user_wallet.currency %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @user_wallet.amount %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @user_wallet.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <% if @user_wallet.status == 0 %>
    <%= "Disabled" %>
  <% elsif @user_wallet.status == 1 %>
    <%= "Enabled" %>
  <% end %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @user_wallet.uuid %>
</p>

<%= link_to 'Back', user_wallets_path %>
