<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<% @pages.each do |page| %>
    <url>

        <loc><%= @base_url+page.keywords %></loc>

        <lastmod><%= page.updated_at.to_date %></lastmod>

        <changefreq>monthly</changefreq>

        <priority>0.8</priority>

    </url>
  <% end %>

</urlset>