<p id="notice"><%= notice %></p>

<h1>Cards Logs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Card ID</th>
      <th>Action type</th>
      <th>Ip</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards_logs.each do |cards_log| %>
      <tr>
        <td><%= cards_log.user_id %></td>
        <td><%= cards_log.card_id %></td>
        <% if cards_log.action_type == 1 %>
        <td><%= "created" %></td>
        <% elsif cards_log.action_type == 2 %>
        <td><%= "charged" %></td>
        <% elsif cards_log.action_type == 3 %>
            <td><%= "deleted" %></td>
        <% end %>
        <td><%= cards_log.ip %></td>
        <td><%= link_to 'Show', cards_log %></td>
      </tr>
    <% end %>
  </tbody>
</table>
