<section >
<h1>Search For Any Address</h1>

<%= form_tag  url_for(:controller => 'addresses', :action => 'search'), :method => 'get' do %>

  <div>
      <div>
           <div>
               <div >
                 <div style="width:40%; height:180px; background:#f6f2f1; box-shadow: 0 0 8px #ccc; margin-bottom:20px;">
                   <div>
                     <div>
                     <input type="text" name="search"  placeholder="Search about something" >
                     <br><br><%= t('user ID') %> <input type="text" name="search_user"  placeholder="Search for a spacific user" >
                     <div  style="margin-top:20px;">
                         <%= t('Default Address') %>
                        <%= select_tag :address_status,options_for_select([['Default',1],['Not Default',0]]), {:include_blank => 'select address status'} %>
                      
                        <br><h4><%= t('Created at Date') %>:</h4>
                        <%= t('From') %> <%= date_field_tag :searchdatefrom %>
                        <%= t('To') %> <%= date_field_tag :searchdateto %>
                       </div>
                      <div style="margin-top:20px;">
                          <button type="submit" ><%= t('search') %> </button>
                      </div>
                     </div>
                   </div>
                 </div>
               </div>
           </div>
      </div>
  </div>
<% end %>
<br><br>

<table>
  <thead>
    <tr>
      <th>User-ID</th>
      <th>Address</th>
      <th>Country</th>
      <th>Governorate</th>
      <th>City</th>
      <th>Street</th>
      <th>Default-address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.user_id %></td>
        <td><%= address.address %></td>
        <td><%= address.country %></td>
        <td><%= address.governorate %></td>
        <td><%= address.city %></td>
        <td><%= address.street %></td>
        <% if address.default_address == true %>
        <td><button>Default</button></td>
        <% else %>
        <td><%= "-" %></td>
        <% end %>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</section>