<%= form_with(model: medium, local: true) do |form| %>
  <% if medium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medium.errors.count, "error") %> prohibited this medium from being saved:</h2>

      <ul>
      <% medium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :admin_id %>
    <%= form.number_field :admin_id %>
  </div>

  <div class="field">
    <%= form.label :media_type %>
    <%= form.text_field :media_type %>
  </div>

  <div class="field">
    <%= form.label :post_content %>
    <%= form.text_field :post_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
