<p id="notice"><%= notice %></p>

<h1>Media</h1>

<table>
  <thead>
    <tr>
      <th>Admin ID</th>
      <th>Media type</th>
      <th>Post content</th>
      <th>Post ID</th>
      <th>Post link</th>
      <th>Date Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media.each do |medium| %>
      <tr>
        <td><%= medium.admin_id %></td>
        <td><%= medium.media_type %></td>
        <td><%= medium.post_content %></td>
        <td><%= medium.post_id %></td>
        <% if medium.media_type == 'facebook'%>
        <td><a href ="<%= "https://www.facebook.com/#{medium.post_id}" %>">Link</a></td>
        <% end %>
        <td><%= medium.created_at %></td>
        <td><%= link_to 'Show', medium %></td>
        <!-- <td><%= link_to 'Edit', edit_medium_path(medium) %></td> -->
        <td><%= link_to 'Destroy', medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facebook Post', facebook_path %>
