<p id="notice"><%= notice %></p>

<p>
  <strong>Admin-ID:</strong>
  <%= @media.admin_id %>
</p>

<p>
  <strong>Media-type:</strong>
  <%= @media.media_type %>
</p>

<p>
  <strong>Post-content:</strong>
  <%= @media.post_content %>
</p>

<p>
  <strong>Post-ID:</strong>
  <%= @media.post_id %>
</p>

<%= link_to 'Back', media_path %>
