<p id="notice"><%= notice %></p>

<h1>Money Operartions</h1>

<table>
  <thead>
    <tr>
      <th>Operartion id</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Payment gateway</th>
      <th>Status</th>
      <th>Payment date</th>
      <th>Payment id</th>
      <th>User id</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @money_ops.each do |money_op| %>
      <tr>
        <td><%= money_op.opid %></td>
        <% if money_op.optype == 1 %>
        <td><%= "Sent" %></td>
        <% elsif money_op.optype == 2 %>
        <td><%= "Receive" %></td>
        <% end %>
        <td><%= money_op.amount %></td>
        <td><%= money_op.payment_gateway %></td>
        <% if money_op.status == 0 %>
        <td><%= "Pending" %></td>
        <% elsif money_op.status == 1 %>
        <td><%= "Compeleted" %></td>
        <% end %>
        <td><%= money_op.payment_date %></td>
        <td><%= money_op.payment_id %></td>
        <td><%= money_op.user_id %></td>
        <% if money_op.status == 0 %>
        <td><a href="/operations_status?id=<%= money_op.id %>" class="btn btn-primary">Update status to Compeleted</a></td>
        <% else %>
        <td><a href="/operations_status?id=<%= money_op.id %>" class="btn btn-primary">Update status to Pending</a></td>
        <% end %>
        <td><%= link_to 'Show Details', money_op %></td>
        <!-- <td><%# link_to 'Update status', edit_money_op_path(money_op) %></td> -->
        <!-- <td><%# link_to 'Destroy', money_op, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Money Op', new_money_op_path %>
