<p id="notice"><%= notice %></p>

<h1>SMS Logs</h1>

<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Pin ID</th>
      <th>Type</th>
      <th>Status</th>
      <th>Date Created</th>
      <th>Date Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @sms_logs.each do |sms_log| %>
      <tr>       
        <td><%= sms_log.user_id %></td>
        <td><%= sms_log.pinid %></td>
        <% if sms_log.sms_type == 1 %>
        <td><%= "Enable SMS" %></td>
        <% elsif sms_log.sms_type == 2 %>
        <td><%= "User Verification" %></td>
        <% else %>
        <td><%= "Notification" %></td>
        <% end %>
        <% if sms_log.status == true %>
        <td><%= "Verified" %></td>
        <% elsif sms_log.status == false %>
        <td><%= "Not Verified" %></td>
        <% end %>
        <td><%= sms_log.created_at %></td>
        <td><%= sms_log.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br><br>
<%= link_to 'Send SMS Pin Code', send_sms_path %> | <%= link_to 'Verify SMS Code', verifysms_path %>
